In [1]:
# prepare data for testing

import pandas as pd
import numpy as np
import os

# save excel file with labeled PDFs as dataframeconda
labeled_df = pd.read_excel('firstPDFsLabeled.xlsx')

#dataframe from labeled excel file of 449 PDFs
labeled_df.head()

,File name,Table type,table Format,How many people in WNT table,header outside of the table or not,WHO,Comments
0,DigiMV2020_2EE65ATJV7_0_65613902_Accountantsve...,4.0,NaN,NaN,NaN,Abdulhai,NaN
1,DigiMV2020_2EE65ATJV7_0_65613902_Jaarrekening_...,4.0,NaN,NaN,NaN,Abdulhai,NaN
2,DigiMV2020_2FJ775FMWQ_0_74967894_Jaarrekening_...,3.0,0,1.0,0.0,Abdulhai,NaN
3,DigiMV2020_2SFYKJN5QQ_0_73866121_Accountantsve...,4.0,NaN,NaN,NaN,Abdulhai,NaN
4,DigiMV2020_2SFYKJN5QQ_0_73866121_Jaarrekening_...,4.0,NaN,NaN,NaN,Abdulhai,NaN

In [3]:
# saveCleanData in a new dataframe
clean_df = pd.read_csv('CleanData.csv')
clean_df.head()

,Name,Year,Bezoldiging,Pagenumber,filename,WNTtype,Scanned,CHECKED,WHO,HOW TO CLEAN?,COMMENTS
0,A.H.M. van Dam,2020,60000,22,DigiMV2020_2FJ775FMWQ_0_74967894_Jaarrekening_...,2.0,0.0,YES,Abdulhai,1. Copy the file name,NaN
1,J.W. Barzilay,2020,218506,32,DigiMV2020_3568ZQQZ8T_0_41222646_Jaarrekening_...,2.0,0.0,YES,Abdulhai,2. Open the file,NaN
2,Envoy drs. C. Vader,2020,163411,109,DigiMV2020_3GH4J7JM3R_0_41208154_Jaarrekening_...,2.0,0.0,YES,Abdulhai,3. Copy the candidate name,NaN
3,Kapitein H. Slomp RA,2020,51170,109,DigiMV2020_3GH4J7JM3R_0_41208154_Jaarrekening_...,2.0,0.0,YES,Abdulhai,"4. Search for the name (CTRL+F) ,,, [If its sc...",NaN
4,Mevrouw prof. dr. W. den Ouden,2020,13177,110,DigiMV2020_3GH4J7JM3R_0_41208154_Jaarrekening_...,2.0,0.0,YES,Abdulhai,5. If the name is not found then you should ch...,NaN

In [4]:
# drop all columns except filename and Name, Pagenumber
clean_df = clean_df[['filename', 'Name', 'Pagenumber']]
clean_df.head()

,filename,Name,Pagenumber
0,DigiMV2020_2FJ775FMWQ_0_74967894_Jaarrekening_...,A.H.M. van Dam,22
1,DigiMV2020_3568ZQQZ8T_0_41222646_Jaarrekening_...,J.W. Barzilay,32
2,DigiMV2020_3GH4J7JM3R_0_41208154_Jaarrekening_...,Envoy drs. C. Vader,109
3,DigiMV2020_3GH4J7JM3R_0_41208154_Jaarrekening_...,Kapitein H. Slomp RA,109
4,DigiMV2020_3GH4J7JM3R_0_41208154_Jaarrekening_...,Mevrouw prof. dr. W. den Ouden,110

In [5]:
import pandas as pd

# Assuming clean_df is your DataFrame

# Convert each element to a list if it's not already a list
clean_df['Pagenumber'] = clean_df['Pagenumber'].apply(lambda x: [x] if not isinstance(x, list) else x)
clean_df['Name'] = clean_df['Name'].apply(lambda x: [x] if not isinstance(x, list) else x)

# Group by 'filename' and aggregate 'Name' and 'Pagenumber' into lists
#grouped_df = clean_df.groupby('filename').agg({'Name': sum, 'Pagenumber': sum}).reset_index()

#grouped_df.head()

In [41]:
clean_df.head()

grouped_df = clean_df.groupby('filename').agg({'Name': sum, 'Pagenumber': sum}).reset_index()

grouped_df.head()

/var/folders/lh/0lt7mv811l56hczm0y7dwzym0000gn/T/ipykernel_37474/139398013.py:3: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  grouped_df = clean_df.groupby('filename').agg({'Name': sum, 'Pagenumber': sum}).reset_index()
/var/folders/lh/0lt7mv811l56hczm0y7dwzym0000gn/T/ipykernel_37474/139398013.py:3: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  grouped_df = clean_df.groupby('filename').agg({'Name': sum, 'Pagenumber': sum}).reset_index()

,filename,Name,Pagenumber
0,DigiMV2020_2FJ775FMWQ_0_74967894_Jaarrekening_...,[A.H.M. van Dam],[22]
1,DigiMV2020_3568ZQQZ8T_0_41222646_Jaarrekening_...,[J.W. Barzilay],[32]
2,DigiMV2020_3GH4J7JM3R_0_41208154_Jaarrekening_...,"[Envoy drs. C. Vader, Kapitein H. Slomp RA, Me...","[109, 109, 110, 110, 110, 110, 110, 110, 110, ..."
3,DigiMV2020_3GNV9XGZH7_0_39084589_Jaarrekening_...,"[J. van Vliet, A. van der Spek, J. van der Spek]","[36, 36, 36]"
4,DigiMV2020_3GQMYFA5DG_0_27278745_Accountantsve...,"[R.M. Baljon, J.M.J. Collette, G.G.H. Blom, W....","[39, 40, 40, 41, 41, 41, 41, 41]"

In [42]:
# add .pdf to every filename
grouped_df['filename'] = grouped_df['filename'].apply(lambda x: x+'.pdf')

In [60]:
# convert speedy_candidate_results to dataframe
speedy_df = pd.read_csv('speedy_candidates_results.csv')
speedy_df.head()

   Unnamed: 0                                           filename results
0           0  DigiMV2020_3SQ8GWXCW8_0_62072900_Accountantsve...    [19]
1           1  DigiMV2020_35UV4S7BZK_0_32123338_Jaarrekening_...    [21]
2           2  DigiMV2020_VT8B2LBAYM_0_71901892_Accountantsve...      []
3           3  DigiMV2020_D9C4D103-65DD-4B07-B044-1B76EC90CA1...     [8]
4           4  DigiMV2020_Q8L7XPKNJT_0_08130883_Overig_3379_Z...      []

In [43]:
#  in grouped_by PageNumber column keep only unique values
grouped_df['Pagenumber'] = grouped_df['Pagenumber'].apply(lambda x: list(set(x)))
grouped_df.head()

,filename,Name,Pagenumber
0,DigiMV2020_2FJ775FMWQ_0_74967894_Jaarrekening_...,[A.H.M. van Dam],[22]
1,DigiMV2020_3568ZQQZ8T_0_41222646_Jaarrekening_...,[J.W. Barzilay],[32]
2,DigiMV2020_3GH4J7JM3R_0_41208154_Jaarrekening_...,"[Envoy drs. C. Vader, Kapitein H. Slomp RA, Me...","[109, 110]"
3,DigiMV2020_3GNV9XGZH7_0_39084589_Jaarrekening_...,"[J. van Vliet, A. van der Spek, J. van der Spek]",[36]
4,DigiMV2020_3GQMYFA5DG_0_27278745_Accountantsve...,"[R.M. Baljon, J.M.J. Collette, G.G.H. Blom, W....","[40, 41, 39]"

In [29]:
ffile = grouped_df['filename'][0]
ffile

'DigiMV2020_2FJ775FMWQ_0_74967894_Jaarrekening_2553_Educatieve zorgboerderij Landelijk leven B.V..pdf'

In [62]:
import ast
import pandas as pd

# increment each value inthe results column by 1    

def increment_list_elements(value):
    # If the value is a string, convert it to a list
    if isinstance(value, str):
        value = ast.literal_eval(value)
    # Increment each element in the list
    return [y + 1 for y in value]

speedy_df['results+1'] = speedy_df['results'].apply(increment_list_elements)

speedy_df.head()

,Unnamed: 0,filename,results,results+1
0,0,DigiMV2020_3SQ8GWXCW8_0_62072900_Accountantsve...,[19],[20]
1,1,DigiMV2020_35UV4S7BZK_0_32123338_Jaarrekening_...,[21],[22]
2,2,DigiMV2020_VT8B2LBAYM_0_71901892_Accountantsve...,[],[]
3,3,DigiMV2020_D9C4D103-65DD-4B07-B044-1B76EC90CA1...,[8],[9]
4,4,DigiMV2020_Q8L7XPKNJT_0_08130883_Overig_3379_Z...,[],[]

In [ ]:
#

In [63]:
# join speedy_df and grouped_df on filename, keep only rows where filename is in both dataframes
joined_df = speedy_df.merge(grouped_df, on='filename', how='inner')
joined_df.head(10)

,Unnamed: 0,filename,results,results+1,Name,Pagenumber
0,3,DigiMV2020_D9C4D103-65DD-4B07-B044-1B76EC90CA1...,[8],[9],[De heer L.Peters],[9]
1,6,DigiMV2020_3P8LQHQPM8_0_57615225_Jaarrekening_...,"[18, 19, 26]","[19, 20, 27]",[F.M. Felipe],[20]
2,7,DigiMV2020_NRKA9QRMGB_0_27261487_Overig_9949_I...,"[46, 61, 72]","[47, 62, 73]","[V.W. Hulst, R.A. de Keijzer, A.J. Leurs]","[64, 62]"
3,9,DigiMV2020_XERQ6R369T_0_52496333_Jaarrekening_...,[26],[27],"[N. Barrachdi, W. van den Reek, K.A. Krikke, P...",[27]
4,14,DigiMV2020_3GNV9XGZH7_0_39084589_Jaarrekening_...,"[28, 34]","[29, 35]","[J. van Vliet, A. van der Spek, J. van der Spek]",[36]
5,18,DigiMV2020_V2VVK25YEG_0_41090962_Jaarrekening_...,"[23, 24]","[24, 25]","[M.A.G. Schlösser, A.G.J. Vermaase, Drs. F.J.M...","[24, 25]"
6,19,DigiMV2020_BRD3TMPJ2P_0_60824522_Jaarrekening_...,"[22, 24]","[23, 25]",[J. Kuperus],[23]
7,28,DigiMV2020_3568ZQQZ8T_0_41222646_Jaarrekening_...,"[6, 9, 31, 32]","[7, 10, 32, 33]",[J.W. Barzilay],[32]
8,29,DigiMV2020_W7BRXAKJHK_0_34184617_Jaarrekening_...,[39],[40],"[J. Tertaas jnr., M. van Laar, M.G.H. van Gerwen]",[40]
9,30,DigiMV2020_YAFG4VRC5B_0_18073585_Accountantsve...,[18],[19],"[H.Smit, G. Peppenster, J. van de Ven, J.A.J. ...","[20, 21]"

In [64]:
# compare values in Pagenumber and results+1 columns, if Pagenumber is a subset of results+1 
# then add a new column with value 1, else add a new column with value 0, if some values in 
# Pagenumber are not in results+1 then add a new column with missing values
def compare_lists(x):
    if set(x['Pagenumber']).issubset(set(x['results+1'])):
        return 1
    elif set(x['Pagenumber']).issuperset(set(x['results+1'])):
        return 0
    else:
        return 'missing'
# apply function to each row
joined_df['match'] = joined_df.apply(compare_lists, axis=1)
joined_df.head(10)

,Unnamed: 0,filename,results,results+1,Name,Pagenumber,match
0,3,DigiMV2020_D9C4D103-65DD-4B07-B044-1B76EC90CA1...,[8],[9],[De heer L.Peters],[9],1
1,6,DigiMV2020_3P8LQHQPM8_0_57615225_Jaarrekening_...,"[18, 19, 26]","[19, 20, 27]",[F.M. Felipe],[20],1
2,7,DigiMV2020_NRKA9QRMGB_0_27261487_Overig_9949_I...,"[46, 61, 72]","[47, 62, 73]","[V.W. Hulst, R.A. de Keijzer, A.J. Leurs]","[64, 62]",missing
3,9,DigiMV2020_XERQ6R369T_0_52496333_Jaarrekening_...,[26],[27],"[N. Barrachdi, W. van den Reek, K.A. Krikke, P...",[27],1
4,14,DigiMV2020_3GNV9XGZH7_0_39084589_Jaarrekening_...,"[28, 34]","[29, 35]","[J. van Vliet, A. van der Spek, J. van der Spek]",[36],missing
5,18,DigiMV2020_V2VVK25YEG_0_41090962_Jaarrekening_...,"[23, 24]","[24, 25]","[M.A.G. Schlösser, A.G.J. Vermaase, Drs. F.J.M...","[24, 25]",1
6,19,DigiMV2020_BRD3TMPJ2P_0_60824522_Jaarrekening_...,"[22, 24]","[23, 25]",[J. Kuperus],[23],1
7,28,DigiMV2020_3568ZQQZ8T_0_41222646_Jaarrekening_...,"[6, 9, 31, 32]","[7, 10, 32, 33]",[J.W. Barzilay],[32],1
8,29,DigiMV2020_W7BRXAKJHK_0_34184617_Jaarrekening_...,[39],[40],"[J. Tertaas jnr., M. van Laar, M.G.H. van Gerwen]",[40],1
9,30,DigiMV2020_YAFG4VRC5B_0_18073585_Accountantsve...,[18],[19],"[H.Smit, G. Peppenster, J. van de Ven, J.A.J. ...","[20, 21]",missing

In [66]:
# get stats on match column values and store in a new dataframe
stats_df = joined_df['match'].value_counts().reset_index()
stats_df.columns = ['match', 'count']
# add % column
stats_df['%'] = stats_df['count']/stats_df['count'].sum()*100
stats_df.head()

     match  count          %
0        1     58  60.416667
1  missing     32  33.333333
2        0      6   6.250000

In [4]:
# pdf to list of strings(1 string per page)
# doesn't work with scanned PDFs
# https://stackoverflow.com/questions/26494211/extracting-text-from-a-pdf-file-using-pdfminer-in-python
from pdfminer.converter import TextConverter
from pdfminer.layout import LAParams
from pdfminer.pdfdocument import PDFDocument
from pdfminer.pdfinterp import PDFResourceManager, PDFPageInterpreter
from pdfminer.pdfpage import PDFPage
from io import StringIO

def extract_pages_as_strings(pdf_filename):
    resource_manager = PDFResourceManager()
    pages_content = []

    for page in PDFPage.get_pages(open(pdf_filename, 'rb')):
        fake_file_handle = StringIO()
        converter = TextConverter(resource_manager, fake_file_handle, laparams=LAParams())
        page_interpreter = PDFPageInterpreter(resource_manager, converter)
        page_interpreter.process_page(page)
        text = fake_file_handle.getvalue()
        pages_content.append(text)
        converter.close()
        fake_file_handle.close()

    return pages_content

# Example usage
pdf_path = "Type3.pdf"
pages = extract_pages_as_strings(pdf_path)
print(len(pages))
# To access content of a specific page, for example, page 2:
page_2_content = pages[21]
print(page_2_content)

25
___________________________________________________________________________________________________________

___________________________________________________________________________________________________________

Amado  Dronten  B.V.,  Dronten
___________________________________________________________________________________________________________

17.  WNT-VERANTWOORDING  2020  AMADO  DRONTEN  B.V.

De  W NT  is  van  toepassing  op  Amado  Dronten  B.V.  Het  voor  Amado  Dronten  B.V.  toepasselijke
bezoldigingsmaximum  is  in  2020  €  111.000.

1.  Bezoldiging  topfunctionarissen

1a.  Leidinggevende  topfunctionarissen  met  dienstbetrekking  en  leidinggevende  topfunctionarissen  zonder
dienstbetrekking  vanaf  de  13e  maand  van  de  functievervulling

Leidinggevende  topfunctionarissen  met  dienstbetrekking  en  leidinggevende  topfunctionarissen  zonder
dienstbetrekking  vanaf  de  13e  maand  van  de  functievervulling  inclusief  degenen  die  op  grond  van  hun
voormalige  functie  nog  4  jaar  als  topfunctionaris  worden  aangemerkt

Gegevens  2020

Bedragen  x  €  1

Functiegegevens

Aanvang  en  einde  functievervulling  in  2020
Omvang  dienstverband  (als  deeltijdfactor  in  fte)
Dienstbetrekking

Bezoldiging

Beloning  plus  belastbare  onkostenvergoedingen
Beloningen  betaalbaar  op  termijn

Subtotaal

G.M.E.  van
Oosterwijk-
Limbeek

V.C.P.
Oosterwijk

B.  Nieweg

Directie

Directie

Directie

1/1  -  31/12
0,75
ja

1/1  -  31/12
0,17
ja

1/1  -  31/12
0,17
ja

33.247
-

33.247

8.266
-

8.266

7.383
-

7.383

Individueel  toepasselijke  bezoldigingsmaximum

83.250

18.870

18.870

-/-  Onverschuldig  betaald  bedrag

Bezoldiging

Reden  waarom  de  overschrijding  al  dan  niet  is  toegestaan
Toelichting  op  de  vordering  wegens  onverschuldigde  betaling

-

33.247

N.v.t.
N.v.t.

-

8.266

N.v.t.
N.v.t.

-

7.383

N.v.t.
N.v.t.

Voor  elke  hierboven  vermelde  onverschuldigde  betaling  is  een  vordering  ingesteld  die  is  inbegrepen  in  de
post  'Overige  vorderingen'.

1d.Topfunctionarissen  met  een  totale  bezoldiging  van  €  1.700  of  minder

Topfunctionarissen  inclusief  degenen  die  op  grond  van  hun  voormalige  functie  nog  4  jaar  als
topfunctionaris  worden  aangemerkt  met  een  totale  bezoldiging  van  €  1.700  of  minder

NAAM  TOPFUNCTIONARIS

K.E. Aantjes  -  Middag
R.  Berkhof

FUNCTIE

RVC
RVC

___________________________________________________________________________________________________________
Pagina 22 van 25

___________________________________________________________________________________________________________
Samenstellingsverklaring  afgegeven

___________________________________________________________________________________________________________

In [5]:
# simple approach with 'in' operator
# returns list of page numbers where both keywords are present

keywords = ["bezoldiging", "wnt"]

candidates = []
for i,text in enumerate(pages):
    contains_all_keywords = all(keyword.lower() in text.lower() for keyword in keywords)
    if contains_all_keywords:
        candidates.append(i)
        
        
print(candidates)

[10, 21]

lets test pyahocorasick lib for keywords search.

In [12]:
#install pyahocorasick
#%conda install -c conda-forge pyahocorasick -y

# https://stackoverflow.com/questions/54146342/how-to-find-multiple-strings-in-a-pdf-file-using-python

import ahocorasick
import re
import string

def find_keywords_in_pdf(pdf_filename, keywords):
    pages_content = extract_pages_as_strings(pdf_filename)
    A = ahocorasick.Automaton()
    for idx, key in enumerate(keywords):
        A.add_word(key, (idx, key))
    A.make_automaton()

    for i, page in enumerate(pages_content):
        for end_index, (insert_order, original_value) in A.iter(page):
            start_index = end_index - len(original_value) + 1
            print("Page %d : Found '%s' at index %d" % (i, original_value, start_index))


# Example usage
pdf_path = "Type3.pdf"
keywords = ["WNT", "bezoldiging"]
find_keywords_in_pdf(pdf_path, keywords)

Page 6 : Found 'bezoldiging' at index 1221
Page 10 : Found 'WNT' at index 2202
Page 10 : Found 'bezoldiging' at index 2254
Page 21 : Found 'WNT' at index 363
Page 21 : Found 'bezoldiging' at index 515
Page 21 : Found 'bezoldiging' at index 1600
Page 21 : Found 'bezoldiging' at index 2094
Page 21 : Found 'bezoldiging' at index 2294
Page 22 : Found 'bezoldiging' at index 951